<template>
  <ol class="breadcrumb__list r-list">
    <li
      v-for="label in labels"
      :key="label"
      class="breadcrumb__group">
      <a href="#0" class="breadcrumb__point r-link">Home</a>
      <span class="breadcrumb__divider" aria-hidden="true">/</span>
    </li>
  </ol>
</template>

<script>
  export default {
    name: 'BaseBreadcrumbs',
    props: {
      labels: {
        type: Array,
        default () {
          return []
        },
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/colors";

  .breadcrumb {
    list-style-type: none;
    padding: 0;
    margin: 0;

    > li + li {
      margin-left: 15px;
    }
  }

  li {
    display: inline-block;
    position: relative;
    // Last child
    &:last-child {
      a {
        cursor: default;
        color: #fff;
      }

      &::before,
      &::after {
        background: $lightBlue;
      }
    }

    // :Hover
    &:not(:last-child):hover {
      &::before,
      &::after {
        background: lightsalmon;
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      height: 56%;
      width: 100%;
      background: white;
      border-left: 2px solid #666;
      border-right: 2px solid #666;
      z-index: -2;
    }

    &::before {
      top: -2px;
      transform: skew(30deg);
      border-top: 2px solid #666;
    }

    &::after {
      bottom: -2px;
      transform: skew(-30deg);
      border-bottom: 2px solid #666;
    }
  }

  a {
    display: inline-block;
    position: relative;
    line-height: 2;
    padding: 0 20px;
    color: #666;
    text-decoration: none;
  }

  li {
    &:first-child {
      background-color: white;
      border-left: 2px solid #666;
      box-sizing: content-box;

      &:hover {
        background-color: lightsalmon;
      }

      &::before,
      &::after {
        left: 5px;
      }
    }
  }
</style>
