@import "../colors";

.button {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $darkGrey;
  border: none;
  padding: 1em 4em;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  height: 35px;

  &:disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  &--green {
    background-color: $green;
  }

  &--light {
    background-image: linear-gradient(to right bottom, #597fb0, #6689b6, #7393bc, #809dc3, #8da7c9);
  }

  &--red {
    background-image: linear-gradient(to right bottom, #d44942, #d95952, #dc6861, #e07771, #e28580);
  }

  &--orange {
    background-color: $orange;
  }

  &--rounded {
    border-radius: 5px;
  }

  &--small {
    min-width: 100px;
    padding: 0.75em 1em;
  }
}
