@mixin list {
  padding-left: 0;
  list-style-type: none;

  > li {
    display: flex;
    align-items: center;
    justify-content: center;

    &.open {
      justify-content: normal;

      > span {
        &:last-child {
          margin-left: 0.5em;
        }
      }
    }
  }

  > li + li {
    margin-top: 1em;
  }
}

.list-section {
  @include list;

  margin-top: 4em;
}

.menu-item-wrapper {
  height: 28px;
  display: flex;

  &.hidden {
    display: none;
  }

  > .icon {
    width: 24px;
  }

  > .sub-link {
    margin-left: 0.5em;
  }

  a {
    text-decoration: none;
    color: #000;

    &.active {
      color: #6A75CB;
      font-weight: bold;
    }
  }
}
