.menu-item-wrapper {
  height: 28px;
  display: flex;

  &.hidden {
    display: none;
  }

  > .icon {
    width: 24px;
  }

  > .sub-link {
    margin-left: 0.5em;
  }

  a {
    text-decoration: none;
    color: #000;

    &.active {
      color: #6A75CB;
      font-weight: bold;
    }
  }
}
