@import "../colors";

.table-row {
  position: relative;

  border-bottom: 1px solid $darkGrey;
  border-top: 1px solid $darkGrey;
  padding: 0.75em 1em;

  &:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid $darkGrey;
  }

  &:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid $darkGrey;
  }
}

.table-row-card-item {
  @extend .table-row;

  display: flex !important;
  justify-content: space-between;
  align-items: center;

  > .icon {
    cursor: pointer;
  }
}

tr {
  &:nth-child(even) {
    .circle {
      background-color: $secondary;
      color: #fff;
    }
  }

  &:nth-child(odd) {
    .circle {
      background-color: $red;
      color: #fff;
    }
  }

  > td:not(.actions) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  > th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.row-item {
  position: relative;

  border-bottom: 1px solid $darkGrey;
  border-top: 1px solid $darkGrey;
  padding: 0.75em 1em;

  &:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid $darkGrey;
  }

  &:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid $darkGrey;
  }
}
