<template>
  <div
    v-if="loading"
    class="loader-wrapper">
    <div :class="[
      'loader',
      clazz,
    ]">
      <div class="loader-outter"></div>
      <div class="loader-inner"></div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'BaseLoader',
    props: {
      loading: {
        type: Boolean,
        default: false,
      },
      variant: {
        type: String,
        default: 'blue',
      },
    },
    computed: {
      clazz () {
        return `loader--${this.variant}`
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/colors";

  .loader-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loader {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 75px;
    display: inline-block;
    vertical-align: middle;

    > .loader-outter {
      position: absolute;
      border: 4px solid $lightBlue;
      border-left-color: transparent;
      border-bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      animation: loader-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
    }

    > .loader-inner {
      position: absolute;
      border: 4px solid $lightBlue;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      left: calc(50% - 20px);
      top: calc(50% - 20px);
      border-right: 0;
      border-top-color: transparent;
      animation: loader-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
    }

    &.loader--white {
      > .loader-outter,
      > .loader-inner {
        border: 4px solid #fff;
        border-right: 0;
        border-top-color: transparent;
      }
    }
  }

  @keyframes loader-outter {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes loader-inner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
</style>
