<template>
  <div class="input-wrapper">
    <label v-if="label">{{ label }}</label>
    <span
      v-if="icon"
      class="material-icons">
        {{ icon }}
    </span>

    <input
      :class="{
        'is-valid': validator && !validator.$error && validator.$dirty,
        'is-invalid': validator && validator.$error
      }"
      :placeholder="placeholder"
      :type="type"
      :value="value"
      @input="$emit('input', $event.target.value)"
    />
  </div>
</template>

<script>
  export default {
    name: 'Input',
    props: {
      label: {
        type: String,
      },
      icon: {
        type: String,
        required: false,
      },
      placeholder: {
        type: String,
        default: '',
      },
      type: {
        type: String,
        default: 'text',
        validator (value) {
          return ['text', 'email', 'password'].includes(value)
        }
      },
      value: {
        type: String,
        default: '',
      },
      validator: {
        type: Object,
        required: false,
        validator ($v) {
          // eslint-disable-next-line no-prototype-builtins
          return $v.hasOwnProperty('$model')
        },
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/colors";

  .input-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;

    > label {
      margin-bottom: 0.5em;
    }

    > span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 15px;
      font-size: 1.1em;
    }

    > input {
      width: 100%;
      border: 2px solid $darkGrey;
      background-color: #fff;
      padding: 1em 2em 1em 3em;
      outline: none;
      box-shadow: 0 0 5px #eee;
      border-radius: 5px;

      &.is-valid {
        border: 2px solid $green;
      }

      &.is-invalid {
        border: 2px solid $red;
      }

      ::placeholder {
        font-size: 1.1em;
      }

      &:focus {
        border-color: $blue;
      }
    }
  }
</style>
