<template>
  <div class="table-switcher">
    <span
      :class="[
        'material-icons',
        (type === 'rows') ? 'active' : '',
      ]"
      @click="onTableSwitch('rows')">
    table_rows
    </span>

    <span
      :class="[
        'material-icons',
        (type === 'cards') ? 'active' : '',
      ]"
      @click="onTableSwitch('cards')">
    table_chart
    </span>
  </div>
</template>

<script>
  export default {
    name: 'TableSwitcher',
    props: {
      type: {
        type: String,
        default: 'cards',
      },
    },
    methods: {
      onTableSwitch (type) {
        this.$emit('outTableType', type)
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/colors";

  .table-switcher {
    margin-left: auto;
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }

    > span {
      cursor: pointer;

      &.active {
        color: $lightBlue;
      }
    }
  }
</style>
