<template>
  <div class="company">
    <span
      v-if="open"
    >
        Beautis
    </span>

    <span
      :class="[
        'material-icons',
        open ? 'open' : '',
      ]"
      @click="onLogout">
        exit_to_app
    </span>
  </div>
</template>

<script>
  export default {
    name: 'Company',
    props: {
      open: Boolean,
      default: open,
    },
    methods: {
      onLogout () {
      },
    },
    computed: {
      title () {
        return this.titleGetter()
      },
    },
  }
</script>

<style lang="scss" scoped>
  .company {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 2em;

    display: flex;

    > span {
      &.open {
        margin-left: 1em;
      }

      &:last-child {
        cursor: pointer;
      }
    }
  }
</style>
