<template>
  <div class="list-section">
    <fragment>
      <MenuItem
        v-for="item in menuItems"
        :key="item.url"
        :menuItem="item"
        :open="open"
      />

      <SubmenuItem
        v-for="child in menuItems.children"
        :key="child.url"
        :item="child"
      />
    </fragment>
  </div>
</template>

<script>
  import MenuItem from './MenuItem'
  import SubmenuItem from './SubmenuItem'

  export default {
    name: 'ListSection',
    components: {
      MenuItem,
      SubmenuItem,
    },
    props: {
      menuItems: {
        type: Array,
        default () {
          return []
        },
      },
      open: {
        type: Boolean,
        default: true,
      },
    },
  }
</script>

<style lang="scss" scoped>

</style>
