<template>
  <li
    :class="[
     'menu-item-wrapper',
     open ? 'open': '',
   ]"
    @click="onClick()"
  >
    <span :class="[
      'icon',
    ]">
        <span class="material-icons">
            {{menuItem.icon}}
        </span>
    </span>

    <span
      v-if="showLabel"
      class="link-wrapper"
    >
        <router-link
          v-if="menuItem.redirect"
          :to="`/${menuItem.url}/${menuItem.redirect}`">{{menuItem.label}}</router-link>
        <router-link
          v-else
          :to="`/${menuItem.url}`">{{menuItem.label}}</router-link>
    </span>
  </li>
</template>

<script>
  export default {
    name: 'MenuItem',
    props: {
      menuItem: {
        type: Object,
        default () {
          return {}
        },
      },
      open: {
        type: Boolean,
        default: true,
      },
    },
    methods: {
      onClick () {
        this.$emit('outClick')
      },
    },
    computed: {
      showLabel () {
        return this.open
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>
