<template>
  <fragment>
    <li
      v-for="(item, index) in items" :key="item.url"
      class="list-item"
    >
      <MenuIcon
        :icon="item.icon"
      />

      <MenuLink
        :item="item"
      />

      <span
        v-if="item.children"
        class="material-icons"
        @click="onOpen(index)"
      >
        {{ item.active ? 'expand_more' : 'expand_less'}}
      </span>

      <ul
        v-if="item.active"
        class="sub-list">
        <div v-for="child in item.children" :key="child.url">
          <div>&nbsp;</div>
          <li>{{ child.label }}</li>
        </div>
      </ul>
    </li>
  </fragment>
</template>

<script>
  import MenuIcon from './MenuIcon'
  import MenuLink from './MenuLink'

  export default {
    name: 'MenuGroupItems',
    components: {
      MenuIcon,
      MenuLink,
    },
    props: {
      items: {
        type: Array,
        default () {
          return []
        },
      },
    },
    methods: {
      onOpen (index) {
        this.$emit('outClick', index)
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/colors";

  .list-item {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $lightBlue;
    flex-wrap: wrap;

    > .link-wrapper {
      flex: 6;
    }

    .icon {
      flex: 4;
      display: flex;
      justify-content: flex-end;
      margin-right: 1em;
    }

    .sub-list {
      padding-left: 0;
      list-style-type: none;
      width: 100%;
      text-align: center;

      > div {
        display: flex;

        > div {
          flex: 4;
        }

        > li {
          text-align: left;
          margin-top: 1.5em;
          flex: 6;
        }
      }
    }
  }
</style>
