<template>
  <div class="menu-container">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'MenuContainer',
  }
</script>

<style lang="scss" scoped>
  @import "../../../assets/styles/breakpoints";

  .menu-container {
    overflow: hidden;
    display: none;
    flex-direction: column;
    background-color: #fff;
    width: 250px;
    box-shadow: 0 0 5px -2px #fff;
    color: #6A75CB;
    padding: 0 0 2em 3.5em;
    position: sticky;
    top: 0;
    height: 100vh;

    @media screen and (min-width: 768px) {
      display: flex;
    }

    transition: width 0.33s ease-in-out;

    &.small {
      width: 50px;
      padding: 0 0 2em 0;

      > .profile {
        justify-content: center;
      }

      > .section-header {
        text-align: center;
      }

      > .company {
        justify-content: center;

        > span {
          &:first-child {
            display: none;
          }

          &:last-child {
            margin-left: 0;
          }
        }
      }

      .menu-item {
        justify-content: center;
      }
    }

    @media (max-width: #{$small}) {
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
</style>
