<template>
  <div class="section-header">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'MenuSectionHeader',
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/colors";

  .section-header {
    color: $darkGrey;
    margin-top: 2em;
    height: 19px;
  }
</style>
