<template>
  <span
    class="link-wrapper"
  >
  <router-link
    v-if="item.redirect"
    :to="`/${item.url}/${item.redirect}`">{{ item.label }}</router-link>
  <router-link
    v-else
    :to="`/${item.url}`">{{ item.label }}</router-link>
  </span>
</template>

<script>
  export default {
    name: 'MenuLink',
    props: {
      item: {
        type: Object,
        default () {
          return {}
        },
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/colors";

  .link-wrapper {
    > a {
      text-decoration: none;
      color: #fff;
    }
  }
</style>
