<template>
    <span class="icon">
      <span class="material-icons">
        {{ icon }}
      </span>
    </span>
</template>

<script>
  export default {
    name: 'MenuIcon',
    props: {
      icon: {
        type: String,
        default: '',
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/colors";

  .icon {
    display: flex;
    margin-right: 0.2em;
    width: 24px;
    color: #fff;
  }
</style>
