<template>
  <div
    :class="[
      'menu-arrows',
      open ? '' : 'short',
    ]"
    @click="onClick()"
  >
    <span class="material-icons">
        {{ open ? 'arrow_back' : 'arrow_forward' }}
    </span>
  </div>
</template>

<script>
  export default {
    name: 'MenuArrows',
    props: {
      open: {
        type: Boolean,
        default: true,
      },
    },
    methods: {
      onClick () {
        this.$emit('outClick')
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/breakpoints";

  .menu-arrows {
    position: fixed;
    left: 223px;
    top: 15px;
    box-shadow: 0 0 10px #eee;
    border-radius: 50%;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    cursor: pointer;

    transition: left 0.33s ease-in-out;

    &.short {
      left: 35px;
    }

    @media (max-width: #{$small}) {
      display: none;
    }
  }
</style>
