<template>
  <ul class="list">
    <MenuGroupItems
      :items="menuItems.top"
      @outClick="onClick($event, 'top')"
    />

    <MenuGroupItems
      :items="menuItems.middle"
      @outClick="onClick($event, 'middle')"
    />

    <MenuGroupItems
      :items="menuItems.bottom"
      @outClick="onClick($event, 'bottom')"
    />
  </ul>
</template>

<script>
  import MenuGroupItems from './MenuGroupItems'

  export default {
    name: 'MobileMenuLayer',
    components: {
      MenuGroupItems,
    },
    props: {
      menuItems: {
        type: Object,
        default () {
          return {
            top: [],
            middle: [],
            bottom: [],
          }
        },
      },
    },
    methods: {
      onClick (index, section) {
        const copy = { ...this.menuItems }

        for (const key in copy) {
          const items = [...copy[key]]
          items.forEach((child, index) => {
            items[index] = { ...child, active: false }
          })

          copy[key] = items
        }

        const item = copy[section][index]
        copy[section][index] = { ...item, active: !item.active }

        this.$emit('outClick', copy)
      },
    },
  }
</script>

<style lang="scss">
  @import "src/assets/styles/colors";

  .list {
    padding: 1em;
    margin: 0;

    > li + li {
      margin-top: 1em;
    }
  }
</style>
