<template>
  <div :class="[
    'menu-item-wrapper sub-item',
    activeTree ? '' : 'hidden',
  ]"
       @click="onClick()"
  >
    <span class="icon"/>

    <span class="sub-link">
        <router-link
          :class="[
            active ? 'active' : '',
          ]"
          :to="`/${root}/${item.url}`">{{item.label}}</router-link>
    </span>
  </div>
</template>

<script>
  export default {
    name: 'SubmenuItem',
    props: {
      root: {
        type: String,
        default: '',
      },
      activeTree: {
        type: Boolean,
        default: false,
      },
      active: {
        type: Boolean,
        default: false,
      },
      item: {
        type: Object,
        default () {
          return {}
        },
      },
    },
    methods: {
      onClick () {
        this.$emit('outClick')
      },
    },
  }
</script>

<style lang="scss" scoped>
</style>
