<template>
  <button
    :disabled="disabled"
    class="button"
    :class="[
      colorClass,
      small ? 'button--small' : '',
      round ? 'button--rounded' : '',
    ]"
    @click.prevent="onClick">
    <slot></slot>
  </button>
</template>

<script>
  export default {
    name: 'BaseButton',
    props: {
      color: String,
      small: Boolean,
      round: {
        type: Boolean,
        default: true,
      },
      disabled: {
        type: Boolean,
        required: false,
      },
    },
    methods: {
      onClick () {
        this.$emit('outClick')
      }
    },
    computed: {
      colorClass () {
        const clazz = 'button--'

        return clazz + this.color
      },
    },
  }
</script>

<style lang="scss" scoped>

</style>
