<template>
  <router-link
    :to="url"
    class="button"
    :class="[
      colorClass,
      small ? 'button--small' : '',
      round ? 'button--rounded' : '',
    ]"
  >
    {{ label }}
  </router-link>
</template>

<script>
  export default {
    name: 'BaseLinkButton',
    props: {
      url: {
        type: String,
        default: '',
      },
      label: {
        type: String,
        default: '',
      },
      color: {
        type: String,
        default: '',
      },
      small: {
        type: Boolean,
        default: false,
      },
      round: {
        type: Boolean,
        default: true,
      },
      disabled: {
        type: Boolean,
        required: false,
      },
    },
    computed: {
      colorClass () {
        const clazz = 'button--'

        return clazz + this.color
      },
    },
  }
</script>

<style lang="scss" scoped>

</style>
