<template>
  <div class="circle">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'BaseCircle',
  }
</script>

<style lang="scss" scoped>
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2.2em;
    border-radius: 10px;
  }
</style>
