<template>
  <MenuContainer :class="[
    'menu',
      open ? '' : 'small',
  ]">
    <MenuArrows
      :open="open"
      @outClick="onMenuResize"
    />

    <Company
      :open="open"
    />

    <ListSection
      :open="open"
      :menu-items="menuItems.top"
    />

    <MenuSectionHeader>
      {{open ? 'Finance' : 'F'}}
    </MenuSectionHeader>

    <ListSection
      :open="open"
      :menu-items="menuItems.middle"
    />

    <MenuSectionHeader>
      {{open ? 'Others' : 'O'}}
    </MenuSectionHeader>

    <ListSection
      :open="open"
      :menu-items="menuItems.bottom"
    />
  </MenuContainer>
</template>

<script>
  import MenuContainer from './components/MenuContainer'
  import MenuArrows from './components/MenuArrows'
  import Company from './components/Company'
  import MenuSectionHeader from './components/MenuSectionHeader'
  import ListSection from './components/ListSection'

  export default {
    name: 'BaseMenu',
    components: {
      MenuContainer,
      MenuArrows,
      Company,
      MenuSectionHeader,
      ListSection,
    },
    props: {
      open: {
        type: Boolean,
        default: true,
      },
      menuItems: {
        type: Object,
        default () {
          return {
            top: [],
          }
        },
      },
    },
    methods: {
      onMenuResize () {
        this.$emit('outMenuResize', !this.open)
      },
    },
  }
</script>

<style lang="scss" scoped>

</style>
