<template>
  <div class="menu-mobile">
    <div class="top">
      <h2>Beautis</h2>

      <div class="title">
        {{ title }}
      </div>

      <span
        class="material-icons"
        @click="onChangeState"
      >
         {{ open ? 'clear' : 'menu' }}
        </span>
    </div>

    <div
      v-if="open"
      class="menu-layer">
      <MobileMenuLayer
        :menu-items="menuItems"
        @outClick="onClick"
      />
    </div>
  </div>
</template>

<script>
  import MobileMenuLayer from './components/MobileMenulayer'
  import { mapGetters } from 'vuex'

  export default {
    name: 'BaseMenuMobile',
    components: {
      MobileMenuLayer,
    },
    props: {
      open: {
        type: Boolean,
        default: false,
      },
      menuItems: {
        type: Object,
        default () {
          return {
            top: [],
            middle: [],
            bottom: [],
          }
        },
      },
    },
    methods: {
      ...mapGetters('ui', [
        'titleGetter',
      ]),
      onChangeState () {
        this.$emit('outChangeState', !this.open)
      },
      onClick (items) {
        this.$emit('outSectionState', items)
      },
    },
    computed: {
      title () {
        return this.titleGetter()
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/colors";

  .menu-mobile {
    height: 3em;
    display: flex;
    color: #fff;
    position: relative;

    @media screen and (min-width: 768px) {
      display: none;
    }

    > .top {
      display: flex;
      align-items: center;
      color: #fff;
      background-color: $primary;
      width: 100%;
      padding: 0.5em 1em;
      position: relative;

      > .title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      > span {
        margin-left: auto;
      }

      > .material-icons {
        margin-left: auto;
        color: #fff;
        font-size: 32px;
      }
    }

    > .menu-layer {
      z-index: 100;
      overflow: auto;
      position: fixed;
      top: 3em;
      left: 0;
      background-color: #fff;
      width: 100vw;
      height: calc(100vh - 3em);
    }
  }
</style>
