<template>
  <div class="bottom-actions">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'BottomActions',
  }
</script>

<style lang="scss" scoped>
  .bottom-actions {
    margin-top: 1em;
    position: sticky;
    bottom: 0;
  }
</style>
