<template>
  <td class="table-row-card-item">
    <slot></slot>
  </td>
</template>

<script>
  export default {
    name: 'TableCardItemRow',
  }
</script>

<style lang="scss" scoped>
  .table-row-card-item {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f6f6;

    > .icon {
      cursor: pointer;
    }
  }
</style>
