<template>
  <div class="tabs-container">
    <ul class="tabs">
      <li v-for="tab in tabs" :key="tab.label">
        <router-link :to="tab.url">
          {{ tab.label }}
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'BaseTabs',
    props: {
      tabs: {
        type: Array,
        default () {
          return []
        },
      },
    },
  }
</script>

<style lang="scss" scoped>
  .tabs-container {
    width: 100%;

    ul {
      background-color: #6A75CB;
      display: flex;
      padding: .8em .5em;
      list-style: none;
      justify-content: center;
      margin: 0;

      > li + li {
        margin-left: 1em;
      }

      > li {
        display: inline-block;
        margin-top: 0;

        & > a {
          display: block;
          color: #22324E;
          background-color: #fff;
          padding: .3em 1em;
          border-radius: 2px;
          text-decoration: none;
        }
      }
    }
  }
</style>
