@import "../colors";

.client-form {
  max-width: 600px;
  background-color: $lightBlue;
  padding: 1em;

  > .header-section {
    padding: 0 0 1em 0;
    color: #fff;
  }

  > .form-groups {
    grid-column: span 12;
    grid-gap: 1em;

    > .form-group {
      grid-column: span 6;

      @media screen and (max-width: 768px) {
        grid-column: span 12;
      }
    }
  }
}
