  <template>
    <div
      v-if="count > perPage"
      class="pagination-wrapper" :class="side">
      <svg
        @click="onPage('transition-prev', -1)"
        :class="[
        'btn btn--prev',
        (page == 0) ? 'disabled' : '',
      ]"
        height="64"
      viewBox="0 0 24 24"
      width="64"
      xmlns="http://www.w3.org/2000/svg">
      <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/>
      <path d="M0-.5h24v24H0z" fill="none"/>
    </svg>

    <div class="pagination-container">
      <div class="little-dot little-dot--first"/>
      <div class="little-dot">
        <div class="big-dot-container">
          <div class="big-dot"/>
        </div>
      </div>
      <div class="little-dot little-dot--last"/>
    </div>

    <svg
      @click="onPage('transition-next', 1)"
      :class="[
        'btn btn--next',
        (page == maxPage -1) ? 'disabled' : '',
      ]"
      height="64"
      viewBox="0 0 24 24"
      width="64"
      xmlns="http://www.w3.org/2000/svg">
      <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
      <path d="M0-.25h24v12H0z" fill="none"/>
    </svg>
  </div>
</template>

<script>
  export default {
    name: 'Pagination',
    props: {
      page: {
        type: Number,
        default: 0,
      },
      perPage: {
        type: Number,
        default: 25,
      },
      count: {
        type: Number,
        default: 0,
      },
    },
    data () {
      return {
        side: '',
      }
    },
    methods: {
      onPage (side, pageChange) {
        this.side = side
        this.$emit('outPage', this.page + pageChange)

        setTimeout(() => {
          this.side = ''
        }, 500)
      }
    },
    computed: {
      maxPage () {
        return Math.ceil(this.count / this.perPage)
      }
    },
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/colors";

  .pagination-wrapper {
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @keyframes pagination-container--animation-prev {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(18px);
    }
  }

  @keyframes pagination-container--animation-next {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-18px);
    }
  }

  .transition-prev .pagination-container {
    animation: pagination-container--animation-prev 0.3s forwards;
  }

  .transition-next .pagination-container {
    animation: pagination-container--animation-next 0.3s forwards;
  }

  .little-dot {
    width: 6px;
    height: 6px;
    background: #000;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px;
    position: relative;
    z-index: 10;
  }

  .little-dot--first,
  .little-dot--last {
    z-index: 5;
  }

  @keyframes slideLeft {
    0% {
      transform: translateX(0px);
    }

    100% {
      transform: translateX(-18px);
    }
  }

  .transition-prev .little-dot--first {
    animation: slideLeft 0.4s 0.3s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  @keyframes little-dot--first--animation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .transition-next .little-dot--first {
    animation: little-dot--last--animation 0.3s forwards;
  }

  @keyframes little-dot--last--animation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .transition-prev .little-dot--last {
    animation: little-dot--last--animation 0.3s forwards;
  }

  @keyframes slideRight {
    0% {
      transform: translateX(0px);
      opacity: 1;
    }

    100% {
      transform: translateX(18px);
      opacity: 1;
    }
  }

  .transition-next .little-dot--last {
    animation: slideRight 0.4s 0.3s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .big-dot {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: $lightBlue;
    position: absolute;
    top: 50%;
    right: -6px;
    transform: translateY(-50%);
  }

  .transition-next .big-dot {
    right: auto;
    left: -6px;
  }

  .big-dot-container {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    z-index: 10;
  }

  .transition-next .big-dot-container {
    right: auto;
    left: 3px;
  }

  @keyframes big-dot-container--animation-prev {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(-50%) rotate(-179deg);
    }
  }

  @keyframes big-dot-container--animation-next {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(-50%) rotate(-181deg);
    }
  }

  .transition-prev .big-dot-container {
    animation: big-dot-container--animation-prev 0.3s forwards;
  }

  .transition-next .big-dot-container {
    animation: big-dot-container--animation-next 0.3s forwards;
  }

  .btn {
    fill: $lightBlue;
    cursor: pointer;
    transition: opacity 0.2s;

    &.disabled {
      pointer-events: none;
      opacity: 0.6;
    }
  }

  .btn:hover {
    opacity: 0.6;
  }
</style>
