<template>
  <div class="button-group">
    <Button
      color="dark"
    >Facebook
    </Button>
    <Button
      color="red"
    >Google
    </Button>
  </div>
</template>

<script>
  export default {
    name: 'ButtonGroup',
  }
</script>

<style lang="scss" scoped>
  .button-group {
    display: flex;
    flex-wrap: wrap;

    > button {
      width: calc(50% - 0.5em);
    }

    > button + button {
      margin-left: 1em;
    }
  }
</style>
