<template>
  <div class="forgot-password">
    <router-link :to="{ name: routeName }">{{ label }}</router-link>
  </div>
</template>

<script>
  export default {
    name: 'ExtraLink',
    props: {
      label: {
        type: String,
        default: '',
      },
      routeName: {
        type: String,
        default: '',
      },
    },
  }
</script>

<style lang="scss" scoped>
  .forgot-password {
    margin-top: 1em !important;
    display: flex;
    justify-content: flex-end;

    > a {
      text-decoration: none;
      color: #000;
    }
  }
</style>
