<template>
  <div class="form-content">
    <slot></slot>
  </div>
</template>

<script>
  export default {}
</script>

<style lang="scss" scoped>
  .form-content {
    flex-direction: column;

    > div + div {
      margin-top: 2em;
    }
  }
</style>
