<template>
  <div class="image-wrapper">
    <img :src="require('../../../assets/images/logo.svg')" alt="logo"/>
  </div>
</template>

<script>
  export default {
  }
</script>

<style lang="scss" scoped>
  .image-wrapper {
    display: flex;
    justify-content: center;

    > img {
      width: 100px;
      padding: 1em;
      border-radius: 1em;
      box-shadow: 0 0 10px #eee;
      margin-bottom: 1.5em;
    }
  }
</style>
