<template>
  <div class="new-account">
    <span>Don't have account?</span>
    <router-link :to="{ name: 'sign-up' }">Sign up</router-link>
  </div>
</template>

<script>
  export default {

  }
</script>

<style lang="scss" scoped>
  .new-account {
    margin-top: 2em;
    justify-content: center;
    text-align: right;

    > span {
      font-weight: bold;
    }

    > * + * {
      margin-left: 0.5em;
    }
  }
</style>
