<template>
  <h2>{{ label }}</h2>
</template>

<script>
  export default {
    name: 'SubTitle',
    props: {
      label: {
        type: String,
        default: '',
      },
    },
  }
</script>

<style lang="scss" scoped>

</style>
