<template>
  <div class="title">
    <h1>{{ header }}</h1>
    <span>{{ label }}</span>
  </div>
</template>

<script>
  export default {
    props: {
      header: {
        type: String,
        default: '',
      },
      label: {
        type: String,
        default: '',
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "../../../assets/styles/colors.scss";

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;

    > h1 {
      margin: 0;
    }

    > span {
      margin: 0.5em 0 2em 0;
      color: $darkGrey;
    }
  }
</style>
