<template>
  <ContentWrapper>
    <SectionHeader
      label="Detail klienta"
      :back="true"
      url="/clients"
    />

    <ClientPersonalForm/>

    <div class="header-section">
      <h3>Adresa</h3>
    </div>

    <div class="header-section">
      <h3>Doporuceni</h3>
    </div>

    <div class="header-section">
      <h3>Narozeniny a svatek</h3>
    </div>

    <div class="header-section">
      <h3>Doplnujici informace</h3>
    </div>
  </ContentWrapper>
</template>

<script>
  import ClientPersonalForm from './forms/ClientPersonalForm'

  export default {
    name: 'ClientDetailView',
    components: {
      ClientPersonalForm,
    },
    data () {
      return {}
    },
  }
</script>

<style lang="scss" scoped>

</style>
