<template>
  <ContentWrapper class="detail-container">
    <SectionHeader
      label="Detail klienta"
      :back="true"
      url="/clients"
    />

    <SubGroup
      label="Osobni udaje"
    />

    <div class="row-group">
      <DetailRow
        label="Osloveni"
        value=""
      />

      <DetailRow
        label="Titul"
        value=""
      />

      <DetailRow
        label="Jmeno"
        :value="client.firstName"
        bold
      />

      <DetailRow
        label="Prijmeni"
        :value="client.lastName"
        bold
      />

      <DetailRow
        label="Rodne prijmeni"
        value=""
        bold
      />

      <DetailRow
        label="Pohlavi"
        value="Muz"
      />
    </div>

    <SubGroup
      label="Email"
    />

    <div class="row-group">
      <ol class="list">
        <li>
          <div>
            <div>1. test@gmail.com</div>

            <div class="material-icons">
              content_copy
            </div>
          </div>
        </li>

        <li>
          <div>
            <div>2. test2@gmail.com</div>

            <div class="material-icons">
              content_copy
            </div>
          </div>
        </li>
      </ol>
    </div>

    <SubGroup
      label="Phone"
    />

    <div class="row-group">
      <ol class="list">
        <li>
          <div>
            <div>1. +420 7357814521</div>

            <div class="material-icons">
              content_copy
            </div>
          </div>
        </li>

        <li>
          <div>
            <div>2. +420 123456789</div>

            <div class="material-icons">
              content_copy
            </div>
          </div>
        </li>
      </ol>
    </div>
  </ContentWrapper>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'

  import DetailRow from './components/detail-row'
  import SubGroup from './components/sub-group'

  export default {
    name: 'ClientDetailView',
    components: {
      DetailRow,
      SubGroup,
    },
    mounted () {
      console.log(this.$route.query)
      // this.fetchClient(id)
      this.changeTitle('Detail klienta')
    },
    methods: {
      ...mapGetters('clientDetail', [
        'clientGetter',
      ]),
      ...mapActions('clientDetail', [
        'fetchClient',
      ]),
      ...mapActions('ui', [
        'changeTitle',
      ]),
    },
    computed: {
      client () {
        return this.clientGetter()
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/colors";

  .list {
    padding: 0;
    list-style-type: none;

    > li {
      padding: 1em 0;
      margin: 0;

      > div {
        display: flex;

        > div {
          &:last-child {
            margin-left: auto;
          }
        }
      }
    }
  }

  .detail-container {
    > .row + .row {
      border-top: 2px solid $lightGrey;
    }
  }
</style>
