<template>
  <tbody>
  <tr v-for="(row, index) in data" :key="index">
    <TableRowItem>
      <CircleElement>{{ index + 1 }}</CircleElement>
    </TableRowItem>

    <TableRowItem
      v-for="(columnSelector, kkey) in rowSelectors"
      :key="kkey">
      {{ getColumnRow(row, columnSelector) }}
    </TableRowItem>
  </tr>
  </tbody>
</template>

<script>
  import { formatDate, getAge } from '../../../../utils/date.utils'
  import TableRowItem from '../TableRowItem'

  export default {
    name: 'TableBody',
    components: {
      TableRowItem,
    },
    props: {
      data: {
        type: Array,
        default () {
          return []
        },
      },
      rowSelectors: {
        type: Array,
        default () {
          return []
        },
      },
    },
    methods: {
      getColumnRow (row, columnSelector) {
        if (columnSelector.type === 'date') {
          return formatDate(row[columnSelector.selector])
        } else if (columnSelector.type === 'datetime') {
          return formatDate(row[columnSelector.selector], 'DD.MM.YYYY  hh:mm:ss')
        } else if (columnSelector.type === 'age') {
          return getAge(row[columnSelector.selector])
        }

        return row[columnSelector.selector]
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>
