<template>
  <thead class="table-header">
  <tr>
    <th v-for="(item, index) in headers" :key="index">
      {{item}}
    </th>
  </tr>
  </thead>
</template>

<script>
  export default {
    name: 'TableHead',
    props: {
      headers: {
        type: Array,
        default () {
          return []
        },
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "../../../../assets/styles/colors";

  .table-header {
    border-radius: 5px;
    width: 100%;

    > tr {
      > th {
        background-color: $lightBlue;
        padding: 1em 0;
        position: sticky;
        top: 0;

        text-align: left;

        &:first-child {
          width: 50px;
        }
      }
    }
  }
</style>
