<template>
  <table class="table">
    <slot></slot>
  </table>
</template>

<script>
  export default {
    name: 'Table',
  }
</script>

<style lang="scss" scoped>
  .table {
    width: 100%;
    border-collapse: separate;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    border-spacing: 0 15px;
    position: relative;
  }
</style>
