<template>
  <div class="table-wrapper">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'TableWrapper',
  }
</script>

<style lang="scss" scoped>
  .table-wrapper {
    padding: 1em;
    background-color: #fff;
    width: 100%;
  }
</style>
