<template>
  <div class="icon-wrapper">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'BaseIconWrapper',
  }
</script>

<style lang="scss" scoped>
  .icon-wrapper {
    display: flex;
    align-items: center;

    > span {
      font-size: 15px;
      margin-right: 0.5em;
    }
  }
</style>
