<template>
  <div class="top-content">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'BaseTopContent',
  }
</script>

<style lang="scss" scoped>
  .top-content {
    display: flex;
    margin-bottom: 0.5em;
  }
</style>
