<template>
  <div class="select">
    <div
      class="selected option"
      @click="onClick">{{ selectedLabel || placeholder }}
    </div>
    <div class="arrows">
       <span class="material-icons">
          expand_more
      </span>
    </div>

    <ul :class="[
      'options',
      hidden ? 'hidden' : '',
      {
        'is-valid': validator && !validator.$error,
        'is-invalid': validator && validator.$error,
      },
    ]">
      <li
        v-for="option in options"
        :key="option.value"
        class="option"
        @click="onSelect(option)">
        {{ option.label }}
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'BaseSelect',
    props: {
      validator: {
        type: Object,
        required: false,
        validator ($v) {
          // eslint-disable-next-line no-prototype-builtins
          return $v.hasOwnProperty('$model')
        }
      },
      options: {
        type: Array,
        default () {
          return []
        },
      },
      value: {
        type: String,
        default: '',
      },
      placeholder: {
        type: String,
        default: '',
      },
    },
    data () {
      return {
        hidden: true,
      }
    },
    methods: {
      onClick () {
        this.hidden = !this.hidden
      },
      onSelect (option) {
        this.$emit('input', option.value)
        this.hidden = !this.hidden
      },
    },
    computed: {
      selectedLabel () {
        const found = this.options.find(item => {
          return item.value === this.value
        })

        return found ? found.label : ''
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/colors";

  .arrows {
    position: absolute;
    right: 0.5em;
    top: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .select {
    width: 100%;
    position: relative;
    font-size: 1.1em;
    height: 45px;
  }

  .select ul {
    list-style-type: none;
    padding-left: 0;
  }

  .options {
    z-index: 99999;
    width: 100%;
    position: absolute;
    border: 1px solid #22324E;
    background-color: #fff;
    margin: 0.2em 0 0 0;
  }

  .option {
    padding: 1em;
    cursor: pointer;
  }

  .options.hidden {
    visibility: hidden;
  }

  .options .option:hover {
    background-color: $blue;
    color: #fff;
  }

  .selected {
    display: flex;
    align-items: center;

    border: 2px solid #22324E;
    background-color: #fff;
    padding: 0 2em 0 3em;
    height: 100%;
    border-radius: 5px;;
    font-size: 0.8rem;
    color: #9098a6;
  }
</style>
