<template>
  <div
    :class="classes">
    <div v-if="back"
         class="back"
    >
      <span
        class="material-icons"
        @click="onBack"
      >
       arrow_back
      </span>
    </div>

    <!--    <div v-if="back">-->
    <!--      <LinkButton-->
    <!--        :small="true"-->
    <!--        color="green"-->
    <!--        label="Zpatky"-->
    <!--        :url="url"-->
    <!--      />-->
    <!--    </div>-->
  </div>
</template>

<script>
  export default {
    name: 'BaseSectionHeader',
    props: {
      back: {
        type: Boolean,
        default: false,
      },
      url: {
        type: String,
        default: '',
      },
      variant: {
        type: String,
        default: 'black',
      }
    },
    methods: {
      onBack () {
        this.$router.push({ name: 'clients' })
      },
    },
    computed: {
      classes () {
        return `header header--${this.variant}`
      }
    },
  }
</script>

<style lang="scss" scoped>
  .header {
    display: flex;
    cursor: pointer;
    margin-bottom: 0.5em;

    > .back {
      display: flex;
      align-items: center;
      padding-right: 1em;
    }

    > h1 {
      flex: 1;
    }
  }

  .header--black {
    color: #000;
  }

  .header--white {
    color: #fff;
  }
</style>
