<template>
  <div class="layout-protected">
    <div>
      <Menu
        :menuItems="menuItems"
        :open="openNormal"
        @outMenuResize="onMenuResize"
      />

      <MenuMobile
        :menuItems="menuItems"
        :open="openMobile"
        @outChangeState="onMenuState"
        @outSectionState="onSectionState"
      />
    </div>

    <div :class="[
      'content',
    ]">
      <router-view/>
    </div>
  </div>
</template>

<script>
  import { menuItems } from './menuItems'

  export default {
    name: 'BaseLayoutProtected',
    data () {
      return {
        menuItems,
        openMobile: false,
        openNormal: true,
      }
    },
    methods: {
      onMenuResize (open) {
        this.openNormal = open
      },
      onMenuState (open) {
        this.openMobile = open
      },
      onSectionState (items) {
        this.menuItems = items
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/breakpoints";
  @import "src/assets/styles/colors";

  .layout-protected {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #F0F8FF;

    > .content {
      transition: width 0.33s linear;
      width: 100%;
    }

    @media (min-width: #{$small}) {
      flex-direction: row;

      > .menu-mobile {
        display: none;
      }

      > .content {
        height: 100%;
        transition: width 0.33s linear;
        width: calc(100% - 250px);

        &.small {
          transition: width 0.33s linear;
          width: calc(100% - 50px);
        }
      }

      .menu {
        display: flex;
        left: 0;
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
      }
    }
  }
</style>
