<template>
  <div class="layout">
    <div class="wrapper">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'BaseLayout',
  }
</script>

<style lang="scss" scoped>
  .layout {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;

    > .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2em;
    }
  }
</style>
