<template>
  <ContentWrapper>
    <SectionHeader
      :label="title"
    />

    <TopContent>
      <div class="actions">
        <Button
          :small="true"
          color="light"
          @outClick="onFilters"
        >Filtry
        </Button>

        <Button
          :small="true"
          color="light"
          @outClick="onGenerateExcel"
        >
          <IconWrapper>
              <span class="material-icons">
                  vertical_align_bottom
              </span>
            <div>Excel</div>
          </IconWrapper>
        </Button>
      </div>
    </TopContent>

    <TableWrapper
      :loading="loading"
      :headers="headers"
      :count="count"
      :data=data
      :selectors="selectors"
    />

    <slot></slot>

    <Loader
      :loading="loading"
    />
  </ContentWrapper>
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    name: 'BaseTableLayout',
    props: {
      loading: {
        type: Boolean,
        default: false,
      },
      data: {
        type: Array,
        default () {
          return []
        },
      },
      count: {
        type: Number,
        default: 0,
      },
      selectors: {
        type: Array,
        default () {
          return []
        },
      },
      label: {
        type: String,
        default: ','
      },
      headers: {
        type: Array,
        default () {
          return []
        },
      },
    },
    methods: {
      ...mapActions('ui', [
        'changeFiltersOpen',
        'changeModalOpen',
      ]),
      onFilters () {
        this.changeFiltersOpen(true)
      },
      onGenerateExcel () {
        this.changeModalOpen(true)
        this.$emit('outGenerateExcel')
      },
    },
    computed: {
      title () {
        return `${this.label} (${this.count || 0})`
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/breakpoints";

  .actions {
    display: flex;
    align-items: center;
    width: 100%;

    @media screen and (min-width: #{$average}) {
      width: auto;
      margin-left: auto;
      padding: 0 1em;
    }

    > button + button {
      margin-left: 1em;
    }
  }
</style>
