<template>
  <FilterWrapper
    @outSubmit="onSubmit"
  >
    <Input
      placeholder="Jmeno a prijmeni"
      v-model="$v.form.name.$model"
      :validator="$v.form.name"
    />

    <Select
      placeholder="Vyberte stav"
      :options="activeOptions"
      v-model="$v.form.status.$model"
      :validator="$v.form.status"
    />

    <Select
      placeholder="Vyberte pohlavi"
      :options="genderOptions"
      v-model="$v.form.gender.$model"
      :validator="$v.form.gender"
    />

    <Input
      placeholder="Pozn. znameni"
      v-model="$v.form.sign.$model"
      :validator="$v.form.sign"
    />

    <Input
      placeholder="Email"
      v-model="$v.form.email.$model"
      :validator="$v.form.email"
    />

    <Input
      placeholder="Telefon"
      v-model="$v.form.phone.$model"
      :validator="$v.form.phone"
    />
  </FilterWrapper>
</template>

<script>
  import { clientListForm } from '../client-list/client-list.form'
  import { cleanFilters } from '../../../utils/filters.utils'

  const { defaultParams, validators } = clientListForm

  export default {
    name: 'ClientFilters',
    data () {
      return {
        activeOptions: [
          {
            label: 'Vse',
            value: '1,-1',
          },
          {
            label: 'Jen aktivni',
            value: '1',
          },
          {
            label: 'Jen neaktivni',
            value: '-1',
          },
        ],
        genderOptions: [
          {
            label: 'Vse',
            value: '1,2',
          },
          {
            label: 'Muz',
            value: '1',
          },
          {
            label: 'Zena',
            value: '2',
          },
          {
            label: 'Neurcite',
            value: '3',
          },
        ],
        form: { ...defaultParams },
      }
    },
    methods: {
      onClose () {
        this.$emit('outClose')
      },
      onSubmit () {
        this.$v.$touch()
        if (!this.$v.$invalid) {
          const filters = cleanFilters(this.form)

          this.$emit('outSubmit', filters)
        }
      },
      onReset () {
        this.form = defaultParams
        this.$emit('outSubmit', defaultParams)
      }
    },
    validations: {
      form: validators,
    },
  }
</script>

<style lang="scss" scoped>

</style>
