<template>
  <div class="no-data">
    Zadna data
  </div>
</template>

<script>
  export default {
    name: 'NoData',
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/colors";

  .no-data {
    font-size: 1.4em;
    color: $darkGrey;
    text-align: center;
  }
</style>
