<template>
  <div
    v-if="show"
    class="modal"
  >
    <div>
      <slot></slot>
    </div>
  </div>
</template>

<script>

  import { mapGetters } from 'vuex'

  export default {
    name: 'BaseModal',
    methods: {
      ...mapGetters('ui', [
        'modalOpenGetter',
      ]),
    },
    computed: {
      show () {
        return this.modalOpenGetter()
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/colors";

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    > div {
      position: relative;
      background-color: $overlay;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
</style>
