<template>
  <div class="excel-generator">
    <h2>Generovani excelu</h2>

    <div v-show="excelState.steps">Krok {{ excelState.step }} z {{ excelState.steps }}</div>

    <div class="loader-content">
      <Loader
        v-if="excelState.status === 'loading'"
        :loading="true"
        variant="white"
      />

      <span
        v-else
        class="material-icons download"
        @click=onDownload>
        get_app
      </span>
    </div>

    <div class="buttons">
      <Button @outClick="onCancel">Zrusit</Button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'ExcelGenerator',
  methods: {
    ...mapGetters('ui', [
      'excelStateGetter',
    ]),
    ...mapActions('ui', [
      'changeExcelState',
    ]),
    onDownload () {
      this.$emit('outDownload')
      },
      onCancel () {
        this.$emit('outCancel')
      },
    },
    computed: {
      excelState () {
        return this.excelStateGetter()
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/colors";
  @import "src/assets/styles/breakpoints";

  .excel-generator {
    width: 100%;
    max-height: 70vh;

    padding: 2em 1em 2em 1em;
    background-color: $lightBlue;
    color: $white;

    > .buttons {
      display: flex;
      flex-direction: column;
      padding: 1em 2em 0 2em;

      > button + button {
        margin-top: 1em;
      }
    }

    > .loader-content {
      position: relative;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      > .download {
        font-size: 4em;
        cursor: pointer;
      }
    }

    @media screen and (min-width: #{$average}) {
      width: 400px;
    }
  }
</style>
