<template>
  <fragment>
    <TableCardWrapper>
      <TableCardCustom>
        <TableCardHead
          :headers="headers"
        />
      </TableCardCustom>

      <TableCardBody
        :data="data"
        :headers="headers"
        :row-selectors="rowSelectors"
      />
    </TableCardWrapper>

    <div v-if="!loading && data.length < 1">
      <NoData/>
    </div>

    <BottomActions
      v-else
    >
      <Pagination
        :count="count"
        :page="page"
        @pageChange="onPageChange"
      />
    </BottomActions>
  </fragment>
</template>

<script>
  import BottomActions from '../components/BottomActions'
  import Pagination from '../pagination/Pagination'
  import TableCardWrapper from '../components/Card/TableCardWrapper'
  import TableCardHead from '../components/Card/TableCardHead'
  import TableCardCustom from '../components/Card/TableCardCustom'
  import TableCardBody from '../components/Card/TableCardBody'
  import NoData from '../components/Common/NoData'

  export default {
    name: 'BaseTableCard',
    components: {
      TableCardWrapper,
      BottomActions,
      Pagination,
      TableCardCustom,
      TableCardHead,
      TableCardBody,
      NoData,
    },
    props: {
      loading: {
        type: Boolean,
        default: false,
      },
      headers: {
        type: Array,
        default () {
          return []
        },
      },
      data: {
        type: Array,
        default () {
          return []
        }
      },
      rowSelectors: {
        type: Array,
        default () {
          return []
        }
      },
      count: {
        type: Number,
        default: 0,
      },
    },
    data () {
      return {
        maxPage: 25,
        page: 0,
      }
    },
    methods: {
      onPageChange (page) {
        this.page = page
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>
