<template>
  <fragment>
    <TableWrapper>
      <Table>
        <TableHead
          :headers="headers"
        />

        <TableBody
          :data="data"
          :row-selectors="rowSelectors"
        />
      </Table>
    </TableWrapper>

    <BottomActions>
      <Pagination
        :count="count"
        :page="page"
        @pageChange="onPageChange"
      />
    </BottomActions>
  </fragment>
</template>

<script>
  import Pagination from '../pagination/Pagination'
  import TableWrapper from '../components/Normal/TableWrapper'
  import TableHead from '../components/Normal/TableHead'
  import TableBody from '../components/Normal/TableBody'
  import Table from '../components/Normal/Table'
  import BottomActions from '../components/BottomActions'

  export default {
    name: 'BaseTableNormal',
    components: {
      BottomActions,
      Pagination,
      TableWrapper,
      Table,
      TableHead,
      TableBody,
    },
    props: {
      headers: {
        type: Array,
        default () {
          return []
        },
      },
      data: {
        type: Array,
        default () {
          return []
        }
      },
      rowSelectors: {
        type: Array,
        default () {
          return []
        }
      },
      count: {
        type: Number,
        default: 0,
      },
    },
    data () {
      return {
        maxPage: 25,
        page: 0,
      }
    },
    methods: {
      onPageChange (page) {
        this.page = page
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>
