<template>
  <div :class="[
    'row',
    bold  ? 'row--bold' : '',
  ]">
    <div>{{ label }}</div>
    <div>{{ value || '-' }}</div>
  </div>
</template>

<script>
  export default {
    name: 'DetailRow',
    props: {
      label: {
        type: String,
        default: '',
      },
      value: {
        default: '',
      },
      bold: {
        type: Boolean,
        default: false,
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/colors";

  .row {
    display: flex;
    padding: 1em 0;
    justify-content: space-between;

    &--bold {
      > div {
        &:first-child {
          font-weight: bold;
        }
      }
    }
  }
</style>
