<template>
  <div class="sub-group">
    <div>
      {{ label }}
    </div>
  </div>
</template>

<script>
  export default {
    name: 'SubGroup',
    props: {
      label: {
        type: String,
        default: '',
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/colors";

  .sub-group {
    margin-left: -1em;
    margin-right: -1em;
    padding: 0.5em 1em;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    background-color: #fff;

    > .material-icons {
      color: $grey;
      margin-left: auto;
    }
  }
</style>
