<template>
  <label class="checkbox">
    <span>{{ label }}</span>
    <input
      type="checkbox"
      :checked="value"
      @change="onChange"
    />
    <span class="checkmark"/>
  </label>
</template>

<script>
  export default {
    name: 'BaseCheckbox',
    props: {
      value: {
        type: Boolean,
        value: false,
      },
      label: {
        type: String,
        value: '',
      },
      validator: {
        type: Object,
        required: false,
        validator ($v) {
          // eslint-disable-next-line no-prototype-builtins
          return $v.hasOwnProperty('$model')
        }
      },
    },
    methods: {
      onChange (e) {
        this.$emit('input', e.target.checked)
      }
    },
  }
</script>

<style lang="scss" scoped>
  .checkbox {
    position: relative;
    cursor: pointer;
    user-select: none;

    > input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    &:hover input ~ .checkmark {
      background-color: #ccc;
    }

    input:checked ~ .checkmark {
      background-color: #2196F3;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    input:checked ~ .checkmark:after {
      display: block;
    }

    > .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;

      &::after {
        left: 9px;
        top: 5px;
        width: 7px;
        height: 12px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
    }
  }
</style>
