<template>
  <tbody>
  <tr v-for="(row, index) in data" :key="index">
    <!--    <TableCardRowFirstItem>-->
    <!--      <CircleElement>{{ index + 1 }}</CircleElement>-->

    <!--      <div class="material-icons icon" @click="onShowActions(index)">-->
    <!--        more_horiz-->
    <!--      </div>-->
    <!--    </TableCardRowFirstItem>-->

    <TableRowCardItem
      v-for="(columnSelector, iindex) in rowSelectors" :key="iindex"
      :data-label="dataHeaders[iindex]">
      <img
        v-if="columnSelector.type === 'custom'"
        :src="columnSelector.callback(row)" :height="30"/>
      <fragment v-else>
        {{ getColumnRow(row, columnSelector) }}
      </fragment>
    </TableRowCardItem>

    <TableCardRowFirstItem>
      <div>
        <Button
          color="light"
          @outClick="onDetail"
        >Detail
        </Button>
      </div>

      <div>
        <Button
          color="red"
          @outClick="onDelete"
        >Smazat
        </Button>
      </div>
    </TableCardRowFirstItem>

    <!--    <div-->
    <!--      v-if="actions[index]"-->
    <!--      class="actions"-->
    <!--    >-->
    <!--      <div-->
    <!--        class="cross"-->
    <!--        @click="onShowActions(index)"-->
    <!--      >-->
    <!--        <span class="material-icons">-->
    <!--          close-->
    <!--        </span>-->
    <!--      </div>-->

    <!--      <div>-->
    <!--        <Button-->
    <!--          color="light"-->
    <!--          @outClick="onDetail"-->
    <!--        >Detail-->
    <!--        </Button>-->
    <!--      </div>-->

    <!--      <div>-->
    <!--        <Button-->
    <!--          color="red"-->
    <!--          @outClick="onDelete"-->
    <!--        >Delete-->
    <!--        </Button>-->
    <!--      </div>-->
    <!--    </div>-->
  </tr>
  </tbody>
</template>

<script>
import { formatDate, getAge } from '@/utils/date.utils'
import TableCardRowFirstItem from '../TableCardItemRow'
import TableRowCardItem from './TableRowCardItem'

export default {
  name: 'TableCardBody',
  components: {
    TableCardRowFirstItem,
    TableRowCardItem,
  },
  props: {
    data: {
      type: Array,
      default () {
        return []
        },
      },
      rowSelectors: {
        type: Array,
        default () {
          return []
        },
      },
      headers: {
        type: Array,
        default () {
          return []
        }
      },
    },
    data () {
      return {
        actions: {},
      }
    },
    methods: {
      getColumnRow (row, columnSelector) {
        const value = row[columnSelector.selector]

        if (!value) {
          return '-'
        }

        if (columnSelector.type === 'date') {
          return formatDate(value)
        } else if (columnSelector.type === 'datetime') {
          return formatDate(value, 'DD.MM.YYYY  hh:mm:ss')
        } else if (columnSelector.type === 'age') {
          return getAge(value)
        }

        return value
      },
      onShowActions (index) {
        this.actions[index] = !this.actions[index]
      },
      onDetail () {
        this.$router.push({ name: 'client-list', params: { id: '2' } })
      },
      onDelete () {
        // ...
      },
    },
    computed: {
      dataHeaders () {
        return this.headers.filter(Boolean)
      }
    },
    watch: {
      data: function (newVal) {
        this.actions = newVal.reduce((prev, _, index) => {
          return { ...prev, [index]: false }
        }, {})
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/colors";

  tbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > tr {
      background-color: $white;
      box-shadow: 0 0 5px #d8d8d8;
      display: inline-block;
      padding: 0.5em 0 0 0;
      border-radius: 5px;
      margin-bottom: 1em;
      position: relative;
      width: 100%;

      @media screen and (min-width: 768px) {
        max-width: 300px;
      }

      > .actions {
        transition-delay: 0s;

        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.8);

        .cross {
          position: absolute;
          top: 0;
          right: 0;
          padding: 1em;
        }

        > div {
          & + div {
            margin-top: 1em;
          }

          > button {
            box-shadow: none;
          }

          > .close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5em;
            color: #fff;
            cursor: pointer;
            font-size: 30px;
          }
        }

        &.show {
          // opacity: 1;
          // visibility: visible;
          // transition: visibility 0s linear 0.33s, opacity 0.33s linear;
        }

        &.hide {
          opacity: 0;
          visibility: hidden;
          // transsition: visibility 0s linear 0.33s, opacity 0.33s linear;
        }
      }

      > td {
        text-align: right;
        border: none !important;
        display: block;
      }
    }
  }
</style>
