<template>
  <td class="table-card-row-item row-item">
    <slot></slot>
  </td>
</template>

<script>
  export default {
    name: 'TableCardRowFirstItem',
  }
</script>

<style lang="scss" scoped>
  .table-card-row-item {
    text-align: right;
    border: none !important;
    display: block;
  }
</style>
