<template>
  <tr class="table-card-row">
    <slot></slot>
  </tr>
</template>

<script>
  export default {
    name: 'TableCardRow',
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/colors";

  .table-card-row {
    display: inline-block;
    border: 1px solid $darkGrey;
    border-radius: 5px;
    margin: 0.5em;
    position: relative;
  }
</style>
