<template>
  <table class="table-card">
    <slot></slot>
  </table>
</template>

<script>
  export default {
    name: 'TableCardCustom',
  }
</script>

<style lang="scss" scoped>
  .table-card {
    border: 0;
  }
</style>
