<template>
  <div class="table-card-wrapper">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'TableCardWrapper',
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/colors";

  .table-card-wrapper {
    background-color: transparent;
    width: 100%;

    @media screen and (min-width: 768px) {
      padding: 0 1em;
    }
  }
</style>
