<template>
  <td class="row-item">
    <slot></slot>
  </td>
</template>

<script>
  export default {
    name: 'TableRowCardItem',
  }
</script>

<style lang="scss" scoped>
  td {
    @media screen and (min-width: 768px) {
      width: 300px;
    }

    &::before {
      content: attr(data-label);
      float: left;
      width: 150px;
      text-align: left;
    }
  }
</style>
