<template>
  <thead class="table-card-header">
  <tr>
    <th v-for="(item, index) in headers" :key="index">
      {{item}}
    </th>
  </tr>
  </thead>
</template>

<script>
  export default {
    name: 'TableCardHead',
    props: {
      headers: {
        type: Array,
        default () {
          return []
        },
      },
    },
  }
</script>

<style lang="scss" scoped>
  .table-card-header {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
</style>
