<template>
  <div class="content-wrapper">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'BaseContentWrapper',
  }
</script>

<style lang="scss" scoped>
  .content-wrapper {
    width: 100%;
    padding: 1em;
    position: relative;
  }
</style>
