<template>
  <TableLayout
    :loading="loading"
    :headers="headers"
    :selectors="clientsTableSelectors"
    :data="getList"
    :count="count"
    @outGenerateExcel="onGenerateExcel"
  >
    <ClientFilters
      @outSubmit="onChangeFilters"
    />

    <Modal>
      <ExcelGenerator
        @outDownload="onDownload"
        @outCancel="onCancel"
      />
    </Modal>
  </TableLayout>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import { clientsTableSelectors } from './clients-table.selectors'
  import ClientFilters from '../components/ClientFilters'
  import ExcelGenerator from '../../core/components/excel-generator/ExcelGenerator'
  import { clientListExcel } from './export/client-list.excel'

  export default {
    name: 'ClientListView',
    components: {
      ClientFilters,
      ExcelGenerator,
    },
    data () {
      return {
        clientsTableSelectors,
        headers: [
          'Jméno',
          'Příjmená',
          'Pohlaví',
          'Znamení',
          'Narozeniny',
          'Svátek',
          'Email',
          'Telefon',
          'Poznámka',
          'Poslední návštěva',
        ],
        showFilters: false,
      }
    },
    beforeMount () {
      this.changeTitle('List klientu')
    },
    mounted () {
      this.fetchClients()
    },
    methods: {
      ...mapGetters('clients', [
        'listGetter',
        'countGetter',
        'loadingGetter',
        'excelDataGetter',
      ]),
      ...mapActions('clients', [
        'fetchClients',
        'updatePage',
        'generateExcel',
        'cancel'
      ]),
      ...mapActions('ui', [
        'changeFiltersOpen',
        'changeTitle',
        'changeModalOpen'
      ]),
      onFilters () {
        this.changeFiltersOpen(true)
      },
      onChangeFilters (filters) {
        this.fetchClients(filters)
        this.changeFiltersOpen(false)
      },
      onGenerateExcel () {
        this.generateExcel(this.count)
      },
      onDownload () {
        const workBook = clientListExcel.init({
          props: {
            Title: 'List klientu',
            Subject: 'Export',
            Author: 'Todo',
            CreatedDate: new Date(),
          },
        })

        const data = clientListExcel.transform(this.excelData)

        clientListExcel.save({
          headers: this.headers,
          data,
          fileName: 'performance_report.xlsx',
          workBook,
        })

        this.changeModalOpen(false)
      },
      onCancel () {
        this.cancel()
        this.changeModalOpen(false)
      },
    },
    computed: {
      getList () {
        return this.listGetter()
      },
      count () {
        return this.countGetter()
      },
      loading () {
        return this.loadingGetter()
      },
      excelData () {
        return this.excelDataGetter()
      },
    },
  }
</script>

<style lang="scss" scoped>

</style>
