<template>
  <div class="table-wrapper">
    <div class="top-actions">
      <TableSwitcher
        :type="tableType"
        @outTableType="onTableType"
      />
    </div>

    <TableNormal
      v-if="tableType === 'rows'"
      :headers="['', ...headers, '']"
      :data="data"
      :count="count"
      :row-selectors="selectors"
    />

    <TableCard
      v-else
      :loading="loading"
      :headers="['', ...headers]"
      :data="data"
      :count="count"
      :row-selectors="selectors"
    >
      <slot></slot>
    </TableCard>
  </div>
</template>

<script>
  import TableSwitcher from './components/TableSwitcher/TableSwitcher'

  export default {
    name: 'BaseTableWrapper',
    components: {
      TableSwitcher,
    },
    props: {
      selectors: {
        type: Array,
        default () {
          return []
        },
      },
      headers: {
        type: Array,
        default () {
          return []
        },
      },
      data: {
        type: Array,
        default () {
          return []
        },
      },
      count: {
        type: Number,
        default: 0,
      },
      loading: {
        type: Boolean,
        default: false,
      },
    },
    data () {
      return {
        tableType: 'cards',
      }
    },
    methods: {
      onTableType (type) {
        this.tableType = type
      }
    },
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/breakpoints";

  .table-wrapper {
    > .top-actions {
      position: relative;
      display: flex;

      @media screen and (min-width: #{$average}) {
        padding: 0 1em;
      }
    }
  }
</style>
