<template>
  <div
    v-if="show"
    class="filter-wrapper"
  >
    <div>
      <div
        @click="onClose"
        class="cancel">
        <span class="material-icons">
          close
        </span>
      </div>

      <SectionHeader
        label="Filtry"
        variant="white"
      />

      <slot></slot>

      <Button
        @outClick="onSubmit"
      >Filtrovat
      </Button>

      <Button
        @outClick="onReset"
      >Resetovat
      </Button>
    </div>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'BaseFilterWrapper',
    props: {
      defaultParams: {
        type: Object,
        default () {
          return {}
        },
      },
    },
    methods: {
      ...mapGetters('ui', [
        'filtersOpenGetter',
      ]),
      ...mapActions('ui', [
        'changeFiltersOpen',
      ]),
      onClose () {
        this.changeFiltersOpen(false)
      },
      onSubmit () {
        this.$emit('outSubmit')
        this.onClose()
      },
      onReset () {
        this.form = this.defaultParams
        this.$emit('outSubmit', this.defaultParams)
        this.onClose()
      }
    },
    computed: {
      show () {
        return this.filtersOpenGetter()
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/colors";
  @import "src/assets/styles/breakpoints";

  .filter-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    > div {
      position: relative;
      padding: 2em 1em 2em 1em;
      background-color: $lightBlue;
      height: 100%;

      > * + * {
        margin-top: 1.5em;
      }

      > .cancel {
        top: 0;
        right: 0;
        padding: 1em;
        position: absolute;
        color: #fff;
        cursor: pointer;
      }
    }

    @media screen and (min-width: #{$average}) {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $overlay;

      > div {
        width: 400px;
        max-height: 70vh;
      }
    }
  }
</style>
