<template>
  <TableLayout
    label="Vypis objednavek"
    :loading="loading"
    :headers="headers"
    :selectors="selectors"
    :data="data"
    :count="count"
    @outFilters="showFilters = true"
  >
    <OrdersFilters
      @outSubmit="onChangeFilters"
    />
  </TableLayout>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'

  import { tablePropsOrders } from './table-props.orders'
  import OrdersFilters from '../components/OrdersFilters'

  const { headers, selectors } = tablePropsOrders

  export default {
    name: 'OrdersListView',
    components: {
      OrdersFilters
    },
    data () {
      return {
        selectors,
        headers,
      }
    },
    methods: {
      ...mapGetters('orders', [
        'listGetter',
        'countGetter',
        'loadingGetter',
      ]),
      ...mapActions('orders', [
        'fetchOrders',
      ]),
      ...mapActions('ui', [
        'changeFiltersOpen',
      ]),
      onFilters () {
        this.changeFiltersOpen(true)
      },
      onChangeFilters (filters) {
        this.fetchClients(filters)
        this.changeFiltersOpen(false)
      },
    },
    computed: {
      data () {
        return this.listGetter()
      },
      count () {
        return this.countGetter()
      },
      loading () {
        return this.loadingGetter()
      },
    },
  }
</script>

<style lang="scss" scoped>

</style>
