$primary: #3D5A80;
$secondary: #597fb0;
$tertiary: #EE6C4D;

$red: #D44942;
$blue: #4B7DFF;
$lightBlue: #77A6F7;
$darkBlue: #007DD7;
$lightGrey: #dde0e4;
$grey: #9098a6;
$darkGrey: #22324E;
$orange: #F4A520;
$lightOrange: #faddb6;
$green: #5AC18E;
$white: #fff;

$overlay: rgba(255, 255, 255, 0.6);
