:root {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

html,
body,
#app {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 100%;

  @media screen and (min-width: 768px) {
    table {
      font-size: 0.9em;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.pointer {
  cursor: pointer;
}

@import "components/menu";
@import "components/list";
@import "components/table";
@import "components/buttons";
@import "grid";

@import "forms/client-form";
