<template>
  <Layout>
    <Logo/>

    <Title
      header="Forgot password?"
      label="Don't worry"
    />

    <form class="form">
      <FormContent>
        <div class='form-group'>
          <Input
            placeholder="Enter an email"
          />
        </div>

        <div class="login-button">
          <Button
            rounded={true}
            handleClick={onLogin}
          >SUBMIT
          </Button>
        </div>

        <ExtraLink
          label="Back to login"
          route-name="login"
        />
      </FormContent>
    </form>
  </Layout>
</template>

<script>
  import Logo from '../components/Logo'
  import Title from '../components/Title'
  import ExtraLink from '../components/ExtraLink'
  import FormContent from '../components/FormContent'

  export default {
    name: 'ForgotPassword',
    components: {
      Logo,
      Title,
      ExtraLink,
      FormContent,
    },
  }
</script>

<style lang="scss" scoped>

</style>
