<template>
  <Layout>
    <Logo/>
    <Title
      header="Welcome back!"
      label="Log in to your account"
    />

    <form class="form">
      <FormContent>
        <div class='form-group'>
          <Input
            label="Email"
            placeholder="Enter an email"
            v-model="$v.form.email.$model"
            :validator="$v.form.email"
          />
        </div>

        <div class='form-group'>
          <Input
            label="Password"
            placeholder="Enter a password"
            v-model="$v.form.password.$model"
            :validator="$v.form.password"
            type="password"
          />
        </div>

        <ExtraLink
          label="Forgot password?"
          route-name="forgot-password"
        />

        <div class="login-button">
          <Button
            :disabled="$v.$error"
            @outClick="onSubmit"
          >LOG IN
          </Button>
        </div>
      </FormContent>
    </form>

    <div class="or">
      Or connect using
    </div>

    <ButtonGroup/>

    <NewAccount/>
  </Layout>
</template>

<script>
import { email, required } from 'vuelidate/lib/validators'

import Logo from '../components/Logo'
import Title from '../components/Title'
import NewAccount from '../components/NewAccount'
import ButtonGroup from '../components/ButtonGroup'
import ExtraLink from '../components/ExtraLink'
import FormContent from '../components/FormContent'

export default {
  name: 'Login',
  components: {
    Logo,
    Title,
    NewAccount,
    ButtonGroup,
    ExtraLink,
    FormContent,
  },
  data () {
      return {
        form: {
          email: '',
          password: '',
        },
      }
    },
    methods: {
      onSubmit () {
        console.log('submit')
      },
    },
    validations: {
      form: {
        email: { email, required },
        password: { required },
      }
    },
  }
</script>

<style lang="scss" scoped>
  @import "src/assets/styles/colors";

  .login-button {
    margin: 2em auto !important;
  }

  .or {
    color: $darkGrey;
    margin-bottom: 2em;
    justify-content: center;
    text-align: center;
  }
</style>
