<template>
  <Layout>
    <div class="sign-up">
      <Logo/>

      <Title
        header="New account!"
        label="Just a few steps"
      />

      <form class="form">
        <FormContent>
          <SubTitle
            label="Login"
          />

          <div class='form-group'>
            <Input
              placeholder="Enter an email"
              v-model="$v.form.user.email.$model"
              :validator="$v.form.user.email"
            />
          </div>

          <div class='form-group'>
            <Input
              placeholder="Enter a password"
              v-model="$v.form.user.password.$model"
              :validator="$v.form.user.password"
              type="password"
            />
          </div>

          <div class='form-group'>
            <Input
              placeholder="Repeat password"
              v-model="$v.form.user.repeatPassword.$model"
              :validator="$v.form.user.repeatPassword"
              type="password"
            />
          </div>

          <SubTitle
            label="Information about user"
          />

          <div class='form-group'>
            <Input
              placeholder="Name"
              v-model="$v.form.user.name.$model"
              :validator="$v.form.user.name"
            />
          </div>

          <div class='form-group'>
            <Input
              placeholder="Surname"
              v-model="$v.form.user.surname.$model"
              :validator="$v.form.user.surname"
            />
          </div>

          <SubTitle
            label="Billing information"
          />

          <div class='form-group'>
            <Input
              placeholder="Company name"
              v-model="$v.form.company.companyName.$model"
              :validator="$v.form.company.companyName"
            />
          </div>

          <div class='form-group'>
            <Input
              placeholder="Street"
              v-model="$v.form.company.street.$model"
              :validator="$v.form.company.street"
            />
          </div>

          <div class='form-group'>
            <Input
              placeholder="House number"
              v-model="$v.form.company.houseNumber.$model"
              :validator="$v.form.company.houseNumber"
            />
          </div>

          <div class='form-group'>
            <Input
              placeholder="Company name"
              v-model="$v.form.company.postcode.$model"
              :validator="$v.form.company.postcode"
            />
          </div>

          <div class='form-group'>
            <Input
              placeholder="City"
              v-model="$v.form.company.city.$model"
              :validator="$v.form.company.city"
            />
          </div>

          <div class='form-group'>
            <Input
              placeholder="State"
              v-model="$v.form.company.state.$model"
              :validator="$v.form.company.state"
            />
          </div>

          <div class='form-group'>
            <Input
              placeholder="Postcode"
              v-model="$v.form.company.postcode.$model"
              :validator="$v.form.company.postcode"
            />
          </div>

          <div class='form-group'>
            <Input
              placeholder="Company name"
              v-model="$v.form.company.cin.$model"
              :validator="$v.form.company.cin"
            />
          </div>

          <div class='form-group'>
            <Input
              placeholder="Company name"
              v-model="$v.form.company.tin.$model"
              :validator="$v.form.company.tin"
            />
          </div>

          <div class="form-group">
            <Checkbox
              v-model="$v.form.company.vat.$model"
              :validator="$v.form.company.vat"
              label="Vat"
            />
          </div>

          <SubTitle
            label="Branch information"
          />

          <div class='form-group'>
            <Input
              placeholder="Branch name"
              v-model="$v.form.branch.name.$model"
              :validator="$v.form.branch.name"
            />
          </div>

          <div class='form-group'>
            <Input
              placeholder="Branch email"
              v-model="$v.form.branch.email.$model"
              :validator="$v.form.branch.email"
            />
          </div>

          <div class='form-group'>
            <Input
              placeholder="Branch phone"
              v-model="$v.form.branch.phone.$model"
              :validator="$v.form.branch.phone"
            />
          </div>

          <div class='form-group'>
            <Select
              placeholder="Country"
              v-model="$v.form.branch.country.$model"
              :validator="$v.form.branch.country"
              :options="countries"
            />
          </div>

          <div class='form-group'>
            <Select
              placeholder="Currency"
              v-model="$v.form.branch.currency.$model"
              :validator="$v.form.branch.currency"
              :options="currencies"
            />
          </div>

          <div class="login-button">
            <Button
              :disabled="$v.$error"
              @outClick="onSubmit"
            >Create
            </Button>
          </div>
        </FormContent>
      </form>
    </div>
  </Layout>
</template>

<script>
  import Logo from '../components/Logo'
  import Title from '../components/Title'
  import FormContent from '../components/FormContent'
  import { email, required } from 'vuelidate/lib/validators'
  import SubTitle from '../components/SubTitle'
  import { mapActions, mapGetters } from 'vuex'
  import { authApi } from '../api/auth.api'

  export default {
    name: 'SignUp',
    components: {
      Logo,
      Title,
      FormContent,
      SubTitle,
    },
    data () {
      return {
        form: {
          user: {
            email: '',
            password: '',
            repeatPassword: '',
            name: '',
            surname: '',
          },
          company: {
            companyName: '',
            street: '',
            houseNumber: '',
            postcode: '',
            city: '',
            state: '',
            cin: '',
            tin: '',
            vat: false,
          },
          branch: {
            name: '',
            email: '',
            phone: '',
            country: '',
            currency: '',
          },
        },
      }
    },
    mounted () {
      this.fetchCountries()
      this.fetchCurrencies()
    },
    methods: {
      ...mapGetters('core', [
        'countryGetter',
        'currencyGetter'
      ]),
      ...mapActions('core', [
        'fetchCountries',
        'fetchCurrencies',
      ]),
      async onSubmit () {
        this.$v.$touch()
        if (this.$v.$invalid) {
          const request = { ...this.form }
          delete request.user.repeatPassword

          await authApi.createAccount()
        }
      },
    },
    computed: {
      countries () {
        return this.countryGetter().map(item => {
          return {
            label: item.name,
            value: item.code,
          }
        })
      },
      currencies () {
        return this.currencyGetter().map(item => {
          return {
            label: item.name,
            value: item.code,
          }
        })
      },
    },
    validations: {
      form: {
        user: {
          email: { email, required },
          password: { required },
          repeatPassword: { required },
          name: { required },
          surname: { required },
        },
        company: {
          companyName: { required },
          street: { required },
          houseNumber: { required },
          postcode: { required },
          city: { required },
          state: { required },
          cin: { required },
          tin: { required },
          vat: { required },
        },
        branch: {
          name: { required },
          email: { email, required },
          phone: { required },
          country: { required },
          currency: { required },
        },
      }
    },
  }
</script>

<style lang="scss" scoped>
  .sign-up {
    min-width: 300px;
  }
</style>
