<template>
  <div class="client-form">
    <div class="header-section">
      <h3>Osobní údaje</h3>
    </div>

    <div class='form-groups grid-container'>
      <div class="form-group">
        <Input
          placeholder="Jmeno"
          v-model="$v.form.name.$model"
          :validator="$v.form.name"
        />
      </div>

      <div class="form-group">
        <Input
          placeholder="Prijmeni"
          v-model="$v.form.surname.$model"
          :validator="$v.form.surname"
        />
      </div>

      <div class="form-group">
        <Input
          placeholder="Narozeniny"
          v-model="$v.form.birthName.$model"
          :validator="$v.form.birthName"
        />
      </div>

      <div class="form-group">
        <Select
          :options="genders"
          placeholder="Pohlavi"
        />
      </div>

      <div class="form-group">
        <Input
          placeholder="Poznavaci znameni"
          v-model="$v.form.sign.$model"
          :validator="$v.form.sign"
        />
      </div>

      <div class="form-group">
        <Select
          :options="titles"
          placeholder="Titul"
        />
      </div>

      <div class="form-group">
        <Select
          :options="salutation"
          placeholder="Osloveni"
        />
      </div>

      <div class="form-group">
        <Input
          placeholder="Email 2"
          v-model="$v.form.email1.$model"
          :validator="$v.form.email1"
        />
      </div>

      <div class="form-group">
        <Input
          placeholder="Email 2"
          v-model="$v.form.email2.$model"
          :validator="$v.form.email2"
        />
      </div>

      <div class="form-group">
        <Input
          placeholder="Telefon 1"
          v-model="$v.form.phone1.$model"
          :validator="$v.form.phone1"
        />
      </div>

      <div class="form-group">
        <Input
          placeholder="Telefon 2"
          v-model="$v.form.phone2.$model"
          :validator="$v.form.phone2"
        />
      </div>
    </div>
  </div>
</template>

<script>
  import { required } from 'vuelidate/lib/validators'

  export default {
    name: 'ClientPersonalForm',
    data () {
      return {
        genders: [
          {
            label: 'Muz',
            value: 1,
          },
          {
            label: 'Zena',
            value: 2,
          },
        ],
        titles: [
          {
            label: 'Mgr.',
            value: 1,
          },
          {
            label: 'Ing.',
            value: 2,
          },
        ],
        salutation: [
          {
            label: 'Pani',
            value: 1,
          },
          {
            label: 'Pane',
            value: 2,
          },
          {
            label: 'Slecno',
            value: 3,
          },
        ],
        form: {
          name: '',
          surname: '',
          birthName: '',
          sign: '',
          email1: '',
          email2: '',
          phone1: '',
          phone2: '',
        },
      }
    },
    validations: {
      form: {
        name: { required },
        surname: { required },
        birthName: { required },
        sign: { required },
        email1: {},
        email2: {},
        phone1: {},
        phone2: {},
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>
